<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/SSMall/images/head.jpeg" type="image/x-icon">
<link href="/SSMall/styles/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/SSMall/styles/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="/SSMall/styles/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<link href="/SSMall/js/layer/skin/default/layer.css" rel="stylesheet" id="layuicss-skinlayercss"></head>
<script type="text/javascript" src="/SSMall/js/jquery.min.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/bootstrapValidator.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/zh_CN.js"></script>
<script type="text/javascript" src="/SSMall/js/layer/layer.js"></script>
<script type="text/javascript" src="/SSMall/js/vue.js"></script>
<script type="text/javascript" src="/SSMall/js/common.js"></script>
<title>管理员</title>
<style type="text/css">
	
</style>
</head>
<body>
<div id="rootVue">
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading" style=" height:50px">
				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav" style="background-color: rgba(255, 255, 255, 0)">
						<li class="light-blue" style="background-color: rgba(255, 255, 255, 0)">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle" style="margin-top:0px;background-color: rgba(255, 255, 255, 0); float: right;">
								<span class="user-info" style="background-color: rgba(255, 255, 255, 0); float: left;">
									<span style="font-size: 14px; font-family: Microsoft Yahei">您好：</span>
									<span style="font-size: 16px; font-family: Microsoft Yahei">管理员</span>
								</span> 
							</a>
							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close" style="margin-top:40px">
								<li>
									<a href="/SSMall/views/login.html">
										<i class="icon-off"></i>退出
									</a>
								</li>
							</ul>
							
						</li>
					</ul>
					<!-- /.ace-nav -->
				</div>
			</div>
			
			<ul id="myTab" class="nav nav-tabs" style="margin:-1px;margin-left:10px">
				<li class="active">
					<a href="#class" data-toggle="tab">班级管理</a>
				</li>
				<li><a href="#subject" data-toggle="tab">课程管理</a></li>
				<li class="dropdown">
					<a href="#" id="myTabDrop1" class="dropdown-toggle" 
					   data-toggle="dropdown">用户管理<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
						<li>
							<a href="#student" tabindex="-1" data-toggle="tab">学生管理</a>
						</li>
						<li>
							<a href="#teacher" tabindex="-1" data-toggle="tab">教师管理</a>
						</li>
					</ul>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content" style="margin:15px;">
				<div class="tab-pane fade in active" id="class">
						<form id="searchClassForm" style="margin-left: 10px;">
							<div class="form-inline">
								<label class="control-label">工号：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="teacherNum" />
								 </div>
								 <label class="control-label">班级名称：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="className" />
								 </div>
								 <button type="button" class="btn btn-primary" @click="classSearch" >搜索</button>
								 <button type="button" class="btn btn-success" @click="classAdd" style="float:right">新增</button>
							</div>
						</form>
						<table id="classTable" data-classes="table table-hover" 
							data-pagination="true" data-toggle="table"
							data-query-params="queryClassParams"
							data-url="http://localhost:8080/SSMall/class/queryClassList"
							data-id-field="id">
							<thead>
								<tr>
									<th data-formatter="rowNoFormatter">序号</th>
									<th data-field="classNum">班级编号</th>
									<th data-field="className">班级名称</th>
									<th data-field="teacherNum">教师工号</th>
									<!-- <th data-field="teacherName">教师姓名</th> -->
									<th data-field="id">操作</th>
								</tr>
							</thead>
						</table>
				</div>
				<div class="tab-pane fade" id="subject">
						<form id="searchSubjectForm" style="margin-left: 10px;">
							<div class="form-inline">
								<label class="control-label">工号：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="teacherNum" />
								 </div>
								 <label class="control-label">课程名称：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="subName" />
								 </div>
								 <button type="button" class="btn btn-primary" @click="subjectSearch" >搜索</button>
								 <button type="button" class="btn btn-success" @click="subjectAdd" style="float:right">新增</button>
							</div>
						</form>
						<table id="subjectTable" data-classes="table table-hover" 
							data-pagination="true" data-toggle="table"
							data-query-params="querySubjectParams"
							data-url="http://localhost:8080/SSMall/subject/querySubjectList"
							data-id-field="id">
							<thead>
								<tr>
									<th data-formatter="rowNoFormatter">序号</th>
									<th data-field="subNum">课程编号</th>
									<th data-field="subName">课程名称</th>
									<th data-field="teacherNum">教师工号</th>
									<!-- <th data-field="teacherName">教师姓名</th> -->
									<th data-field="id">操作</th>
								</tr>
							</thead>
						</table>
				</div>
				<div class="tab-pane fade" id="student">
						<form id="searchStudentForm" style="margin-left: 10px;">
							<div class="form-inline">
								<label class="control-label">班级：</label>
								<div class="form-group">
									<select class="form-control" name="grade" v-model="job.grade">  
										  <option v-for="grade in grades" v-bind:value="grade.value">  
										    {{ grade.text }}  
										  </option>  
										</select> 
								 </div>
								 <label class="control-label">学号：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="num" />
								 </div>
								 <label class="control-label">姓名：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="name" />
								 </div>
								 <label class="control-label">电话：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="phone" />
								 </div>
								 <button type="button" class="btn btn-primary" @click="studentSearch" >搜索</button>
								 <button type="button" class="btn btn-success" @click="studentAdd" style="float:right">新增</button>
							</div>
						</form>
						<table id="studentTable" data-classes="table table-hover" 
							data-pagination="true" data-toggle="table"
							data-query-params="queryStudentParams"
							data-url="http://localhost:8080/SSMall/student/queryStudentList"
							data-id-field="id">
							<thead>
								<tr>
									<th data-formatter="rowNoFormatter">序号</th>
									<th data-field="num"> 学号</th>
									<th data-field="grade">专业班级</th>
									<th data-field="name">姓名</th>
									<th data-field="sex">性别</th>
									<th data-field="phone">电话</th>
									<th data-field="mail">邮箱</th>
									<th data-field="id">操作</th>
									
								</tr>
							</thead>
						</table>
				</div>
				<div class="tab-pane fade" id="teacher">
					<form id="searchTeacherForm" style="margin-left: 10px;">
							<div class="form-inline">
								<label class="control-label">工号：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="num" />
								 </div>
								 <label class="control-label">姓名：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="name" />
								 </div>
								 <label class="control-label">电话：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="phone" />
								 </div>
								 <button type="button" class="btn btn-primary" @click="teacherSearch" >搜索</button>
								 <button type="button" class="btn btn-success" @click="teacherAdd" style="float:right">新增</button>
							</div>
						</form>
						<table id="teacherTable" data-classes="table table-hover" 
							data-pagination="true" data-toggle="table"
							data-query-params="queryTeacherParams"
							data-url="http://localhost:8080/SSMall/teacher/queryTeacherList"
							data-id-field="id">
							<thead>
								<tr>
									<th data-formatter="rowNoFormatter">序号</th>
									<th data-field="num"> 工号</th>
									<th data-field="name">姓名</th>
									<th data-field="sex">性别</th>
									<th data-field="phone">电话</th>
									<th data-field="mail">邮箱</th>
									<th data-field="id">操作</th>
								</tr>
							</thead>
						</table>
				</div>
			</div>
		</div>
	</div>

</div>
</body>
<script type="text/javascript">
var baseUrl = "http://localhost:8080/SSMall";
var vm = new Vue({
    el:'#rootVue',
    data:{
    	stuInfo:{},
    	job:{},
    	grades:[],
    	subjects:[]
    },
    methods: {
    	classSearch :function(){
    		$("#classTable").bootstrapTable('refresh');
    	},
    	subjectSearch :function(){
    		$("#subjectTable").bootstrapTable('refresh');
    	},
    	studentSearch :function(){
    		$("#studentTable").bootstrapTable('refresh');
    	},
    	teacherSearch :function(){
    		$("#teacherTable").bootstrapTable('refresh');
    	},
    	classAdd :function(){
    		
    	},
    	subjectAdd :function(){
    		
    	},
		studentAdd :function(){
    		
    	},
    	teacherAdd :function(){
    		
    	},
    	submit :function(){
    		var answers = pacageData();
    		var param = {};
    		param.answer = answers;
    		param.id = ID;
    		param.state = "2";
    		var url = baseUrl+"/working/updateAnswser";
    		$.ajax({
    		        type: "POST",
    		        url: url,
    		        data : param ,
    		        dataType:"json",
    		        success: function(resultData){
    					if(resultData.state==0){//保存成功
    						$("#workingModal").modal("hide");
    						$("#table").bootstrapTable('refresh');
    						layer.msg('保存成功', {
  							  icon: 1,
  							});
    					 }else{
    						layer.msg('注册失败，请重新提交', {
    							  icon: 0,
    							});
    					 }           	 
    		        }
    		    });
    	},
    	submitStudent : function(){
    		//表单校验
    		if(!onsubmitFn()){
    			return ;
    		}
    		var url = baseUrl+"/student/update";
    		$.ajax({
    		        type: "POST",
    		        url: url,
    		        data : vm.stuInfo ,
    		        dataType:"json",
    		        success: function(resultData){
    					if(resultData.state==0){//保存成功
    						$("#studentModal").modal("hide");
    						layer.msg('保存成功', {
  							  icon: 1,
  							});
    					 }else{
    						layer.msg('保存失败，请重新提交', {
    							  icon: 0,
    							});
    					 }           	 
    		        }
    		    });
    	}
    	
    },
    mounted: function () {
    	$(window).resize(function() {
    		$('[data-toggle="table"]').bootstrapTable('resetView');
    	});
    	//初始化班级信息
    	initStuClass();
    	//初始化科目信息
    	initSubject();
    	//表单校验
    	validateForm();
      }
});
/* 初始化班级信息 */
function initStuClass(){
	var url = baseUrl+"/class/list";
	 $.ajax({
        type: "GET",
        url: url,
        dataType:"json",
        success: function(resultData){
        	
			if(resultData.state==0){//查询成功
				var options = [];
				var flag={
						text : "全部",
						value : ""
				}
				options.push(flag);
				vm.job.grade = "";
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].className;
					option.value = data[i].classNum;
					options.push(option);
				}
				vm.grades = options;
			 }else{
				 //查询失败
				 layer.msg(resultData.message, {
		   				icon: 0,
		   			});
			 }           	 
        }
    });
}
/* 初始化科目信息 */
function initSubject(){
	var url = baseUrl+"/subject/list";
	 $.ajax({
        type: "GET",
        url: url,
        dataType:"json",
        success: function(resultData){
			if(resultData.state==0){//查询成功
				var options = [];
				var flag={
						text : "全部",
						value : ""
				}
				options.push(flag);
				vm.job.subject = "";
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].subName;
					option.value = data[i].subNum;
					options.push(option);
				}
				
				vm.subjects = options;
			 }else{
				 //查询失败
				 layer.msg(resultData.message, {
		   				icon: 0,
		   			});
			 }           	 
        }
    });
}
//柔和灰（text-muted）、主要蓝（text-primary）、成功绿（text-success）、信息蓝（text-info）、警告黄（text-warning）、危险红（text-danger）
//序号
function rowNoFormatter(value, row, index){
	var options = $("#classTable").bootstrapTable('getOptions');  
    return options.pageSize * (options.pageNumber - 1) + index + 1;
}
//作业详情
function questionFormatter(value, row, index){
	return [ "<a href='javascript:void(0)' onclick='workingInfo(\""+row.id+"\",\""+row.title+"\",\""+row.state+"\",\""+row.question+"\",\""+row.answer+"\",\""+row.grade+"\" )' class='btn btn-xs ' title='查看'>查看</a>" ].join('');
}

//表单提交前再进行一次验证
function onsubmitFn() {
  var bootstrapValidator = $("#studentInfoForm").data("bootstrapValidator");
  bootstrapValidator.validate();
  return bootstrapValidator.isValid();
}
//表单验证
function validateForm(){
	$("#studentInfoForm").bootstrapValidator({
	    message: 'This value is not valid',
	    feedbackIcons: {
	        valid: 'glyphicon glyphicon-ok',
	        invalid: 'glyphicon glyphicon-remove',
	        validating: 'glyphicon glyphicon-refresh'
	    },
	    fields: {
	        password: {
	        	message: "密码校验失败",
	        	validators: {
	        		notEmpty: {
	        			message: "密码不能为空"
	        		},
	        		stringLength: {//检测长度  
                      min: 6,  
                      max: 30,  
                      message: '密码长度必须在6-30之间'  
                  },
	        	}
	        },
	        confirmPsw: {
	            message: "验证密码失败",
	            validators: {
	            	notEmpty: {
	        			message: "密码输入不一致"
	        		},
	                identical: {//与指定控件内容比较是否相同，比如两次密码不一致  
                      field: 'password',//指定控件name  
                      message: '密码输入不一致'  
                  }, 
	            }
	        },
	       
	        phone: {
	            message: "手机号码校验失败",
	            validators: {
	            	notEmpty: {
	                    message: "手机号不能为空"
	                },
	                regexp: {//正则验证  
                      regexp: /^[1][3,4,5,7,8][0-9]{9}$/,  
                      message: '请输入正确的手机号码'  
                  }, 
	            }
	        },
	        mail: {
	            message: "邮箱校验失败",
	            validators: {
	            	notEmpty: {
	                    message: "邮箱不能为空"
	                },
	            	emailAddress: {//验证email地址  
                      message: '请输入正确的邮箱地址'  
                  },  
	            }
	        },
	    }
	});

}
//封装班级列表参数
function queryClassParams(params) {
	var query = $("#searchClassForm").serializeJSON();
	query["pageNumber"] = params.pageNumber;
	query["pageSize"] = params.pageSize;
	if (params.sortName) {
		query["sortName"] = params.sortName;
		query["sortOrder"] = params.sortOrder;
	}
	return query;
}
//封装课程列表参数
function querySubjectParams(params) {
	var query = $("#searchSubjectForm").serializeJSON();
	query["pageNumber"] = params.pageNumber;
	query["pageSize"] = params.pageSize;
	if (params.sortName) {
		query["sortName"] = params.sortName;
		query["sortOrder"] = params.sortOrder;
	}
	return query;
}
//封装班级列表参数
function queryStudentParams(params) {
	var query = $("#searchStudentForm").serializeJSON();
	query["pageNumber"] = params.pageNumber;
	query["pageSize"] = params.pageSize;
	if (params.sortName) {
		query["sortName"] = params.sortName;
		query["sortOrder"] = params.sortOrder;
	}
	return query;
}
//封装班级列表参数
function queryTeacherParams(params) {
	var query = $("#searchTeacherForm").serializeJSON();
	query["pageNumber"] = params.pageNumber;
	query["pageSize"] = params.pageSize;
	if (params.sortName) {
		query["sortName"] = params.sortName;
		query["sortOrder"] = params.sortOrder;
	}
	return query;
}
</script>
</html>