<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/SSMall/images/head.jpeg" type="image/x-icon">
<link href="/SSMall/styles/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/SSMall/styles/radio/magic-check.css" rel="stylesheet">
<link href="/SSMall/styles/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="/SSMall/styles/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<link href="/SSMall/js/layer/skin/default/layer.css" rel="stylesheet" id="layuicss-skinlayercss"></head>
<script type="text/javascript" src="/SSMall/js/jquery.min.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/bootstrapValidator.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/zh_CN.js"></script>
<script type="text/javascript" src="/SSMall/js/layer/layer.js"></script>
<script type="text/javascript" src="/SSMall/js/vue.js"></script>
<script type="text/javascript" src="/SSMall/js/common.js"></script>
<script type="text/javascript" src="/SSMall/js/root.js"></script>
<title>管理员</title>
<style type="text/css">
	
</style>
</head>
<body>
<div id="rootVue">
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading" style=" height:50px">
				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav" style="background-color: rgba(255, 255, 255, 0)">
						<li class="light-blue" style="background-color: rgba(255, 255, 255, 0)">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle" style="margin-top:0px;background-color: rgba(255, 255, 255, 0); float: right;">
								<span class="user-info" style="background-color: rgba(255, 255, 255, 0); float: left;">
									<span style="font-size: 14px; font-family: Microsoft Yahei">您好：</span>
									<span style="font-size: 16px; font-family: Microsoft Yahei">管理员</span>
								</span> 
							</a>
							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close" style="margin-top:40px">
								<li>
									<a href="/SSMall/views/login.html">
										<i class="icon-off"></i>退出
									</a>
								</li>
							</ul>
							
						</li>
					</ul>
					<!-- /.ace-nav -->
				</div>
			</div>
			
			<ul id="myTab" class="nav nav-tabs" style="margin:-1px;margin-left:10px">
				<li class="active">
					<a href="#class" data-toggle="tab">班级管理</a>
				</li>
				<li><a href="#subject" data-toggle="tab">课程管理</a></li>
				<li class="dropdown">
					<a href="#" id="myTabDrop1" class="dropdown-toggle" 
					   data-toggle="dropdown">用户管理<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
						<li>
							<a href="#student" tabindex="-1" data-toggle="tab">学生管理</a>
						</li>
						<li>
							<a href="#teacher" tabindex="-1" data-toggle="tab">教师管理</a>
						</li>
					</ul>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content" style="margin:15px;">
				<div class="tab-pane fade in active" id="class">
						<form id="searchClassForm" style="margin-left: 10px;">
							<div class="form-inline">
								<label class="control-label">工号：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="teacherNum" />
								 </div>
								 <label class="control-label">班级名称：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="className" />
								 </div>
								 <button type="button" class="btn btn-primary" @click="classSearch" >搜索</button>
								 <button type="button" class="btn btn-success" data-toggle="modal" data-target="#classModal" @click="classAdd" style="float:right">新增</button>
							</div>
						</form>
						<table id="classTable" data-classes="table table-hover" 
							data-pagination="true" data-toggle="table"
							data-query-params="queryClassParams"
							data-url="http://localhost:8080/SSMall/class/queryClassList"
							data-id-field="id">
							<thead>
								<tr>
									<th data-formatter="rowNoFormatter">序号</th>
									<th data-field="classNum">班级编号</th>
									<th data-field="className">班级名称</th>
									<th data-field="teacherNum">教师工号</th>
									<!-- <th data-field="teacherName">教师姓名</th> -->
									<th data-formatter="classFormatter" >操作</th>
								</tr>
							</thead>
						</table>
				</div>
				<div class="tab-pane fade" id="subject">
						<form id="searchSubjectForm" style="margin-left: 10px;">
							<div class="form-inline">
								<label class="control-label">工号：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="teacherNum" />
								 </div>
								 <label class="control-label">课程名称：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="subName" />
								 </div>
								 <button type="button" class="btn btn-primary" @click="subjectSearch" >搜索</button>
								 <button type="button" class="btn btn-success" data-toggle="modal" data-target="#subjectModal" @click="subjectAdd" style="float:right">新增</button>
							</div>
						</form>
						<table id="subjectTable" data-classes="table table-hover" 
							data-pagination="true" data-toggle="table"
							data-query-params="querySubjectParams"
							data-url="http://localhost:8080/SSMall/subject/querySubjectList"
							data-id-field="id">
							<thead>
								<tr>
									<th data-formatter="rowNoFormatter">序号</th>
									<th data-field="subNum">课程编号</th>
									<th data-field="subName">课程名称</th>
									<th data-field="teacherNum">教师工号</th>
									<th data-formatter="subjectFormatter" >操作</th>
								</tr>
							</thead>
						</table>
				</div>
				<div class="tab-pane fade" id="student">
						<form id="searchStudentForm" style="margin-left: 10px;">
							<div class="form-inline">
								<label class="control-label">班级：</label>
								<div class="form-group">
									<select class="form-control" name="grade" v-model="job.grade">  
										  <option v-for="grade in grades" v-bind:value="grade.value">  
										    {{ grade.text }}  
										  </option>  
										</select> 
								 </div>
								 <label class="control-label">学号：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="num" />
								 </div>
								 <label class="control-label">姓名：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="name" />
								 </div>
								 <label class="control-label">电话：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="phone" />
								 </div>
								 <button type="button" class="btn btn-primary" @click="studentSearch" >搜索</button>
								 <button type="button" class="btn btn-success" data-toggle="modal" data-target="#studentModal" @click="studentAdd" style="float:right">新增</button>
							</div>
						</form>
						<table id="studentTable" data-classes="table table-hover" 
							data-pagination="true" data-toggle="table"
							data-query-params="queryStudentParams"
							data-url="http://localhost:8080/SSMall/student/queryStudentList"
							data-id-field="id">
							<thead>
								<tr>
									<th data-formatter="rowNoFormatter">序号</th>
									<th data-field="num"> 学号</th>
									<th data-field="grade">专业班级</th>
									<th data-field="name">姓名</th>
									<th data-field="sex">性别</th>
									<th data-field="phone">电话</th>
									<th data-field="mail">邮箱</th>
									<th data-formatter="studentFormatter" >操作</th>
									
								</tr>
							</thead>
						</table>
				</div>
				<div class="tab-pane fade" id="teacher">
					<form id="searchTeacherForm" style="margin-left: 10px;">
							<div class="form-inline">
								<label class="control-label">工号：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="num" />
								 </div>
								 <label class="control-label">姓名：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="name" />
								 </div>
								 <label class="control-label">电话：</label>
								<div class="form-group">
									<input type="text" class="form-control" name="phone" />
								 </div>
								 <button type="button" class="btn btn-primary" @click="teacherSearch" >搜索</button>
								 <button type="button" class="btn btn-success" data-toggle="modal" data-target="#teacherModal" @click="teacherAdd" style="float:right">新增</button>
							</div>
						</form>
						<table id="teacherTable" data-classes="table table-hover" 
							data-pagination="true" data-toggle="table"
							data-query-params="queryTeacherParams"
							data-url="http://localhost:8080/SSMall/teacher/queryTeacherList"
							data-id-field="id">
							<thead>
								<tr>
									<th data-formatter="rowNoFormatter">序号</th>
									<th data-field="num"> 工号</th>
									<th data-field="name">姓名</th>
									<th data-field="sex">性别</th>
									<th data-field="phone">电话</th>
									<th data-field="mail">邮箱</th>
									<th data-formatter="teacherFormatter" >操作</th>
								</tr>
							</thead>
						</table>
				</div>
			</div>
		</div>
	</div>


	<!-- 教师模态框 -->
	<div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="modal-title text-center" id="title">教师编辑</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="teacherForm" style="margin:30px">
						 	<div class="form-group">
										<div class="col-sm-4 control-label">学号：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="num" v-model ="teacher.num" placeholder="请输入学号"/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">密码：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="password" v-model ="teacher.password" placeholder="请输入密码"/>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-4 control-label">姓名：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="name" v-model ="teacher.name" placeholder="请输入用户姓名"/>
									</div>
								</div>	
								<div class="form-group">
									<div class="col-sm-4 control-label">性别：</div>
									<div class="col-sm-5" style="margin-top:5px;">
										<div class="opt" style="float: left;">
											<input class="magic-radio" type="radio" name="radio2" id="r1" value="m" checked  >
											<label for="r1">男</label>
										</div>
										<div class="opt" style="float: left;margin-left:30px;">
											<input class="magic-radio" type="radio" name="radio2" id="r2" value="f" >
											<label for="r2">女</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">电话：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="phone" v-model ="teacher.phone" placeholder="请输入电话"/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">邮箱：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="mail" v-model ="teacher.mail" placeholder="请输入邮箱"/>
									</div>
								</div>	
					</form>	
					<div style="text-align: center;" >
	                       <button type="button" class="btn btn-primary" @click="teacherSubmit" >提交</button>
	                       <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:30px">取消</button>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>

	<!-- 学生模态框 -->
	<div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="modal-title text-center" id="title">学生编辑</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="studentForm" style="margin:30px">
						 	<div class="form-group">
										<div class="col-sm-4 control-label">学号：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="num" v-model ="student.num" placeholder="请输入学号"/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">密码：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="password" v-model ="student.password" placeholder="请输入密码"/>
									</div>
								</div>
								
								<div class="form-group" id="student">
									<div class="col-md-4 control-label">班级：</div>
								 	<div class="col-md-5">
								 		<select class="form-control" v-model="student.grade">  
										  <option v-for="grade in grades" v-bind:value="grade.value">  
										    {{ grade.text }}  
										  </option>  
										</select> 
								 	</div>
								 </div>
								
								<div class="form-group">
									<div class="col-sm-4 control-label">姓名：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="name" v-model ="student.name" placeholder="请输入用户姓名"/>
									</div>
								</div>	
								<div class="form-group">
									<div class="col-sm-4 control-label">性别：</div>
									<div class="col-sm-5" style="margin-top:5px;">
										<div class="opt" style="float: left;">
											<input class="magic-radio" type="radio" name="radio1" id="r1" value="m" checked  >
											<label for="r1">男</label>
										</div>
										<div class="opt" style="float: left;margin-left:30px;">
											<input class="magic-radio" type="radio" name="radio1" id="r2" value="f" >
											<label for="r2">女</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">电话：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="phone" v-model ="student.phone" placeholder="请输入电话"/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">邮箱：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="mail" v-model ="student.mail" placeholder="请输入邮箱"/>
									</div>
								</div>	
					</form>	
					<div style="text-align: center;" >
	                       <button type="button" class="btn btn-primary" @click="studentSubmit" >提交</button>
	                       <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:30px">取消</button>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	<!-- 课程模态框 -->
	<div class="modal fade" id="subjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="modal-title text-center" id="title">课程编辑</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="subjectForm" style="margin:30px">
						 	<div class="form-group">
									<div class="col-sm-4 control-label">课程编号：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="subjectNum" v-model ="subject.subNum" placeholder="请输入班级编号"/>
									</div>
							</div>
							<div class="form-group">
									<div class="col-sm-4 control-label">课程名称：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="subjectName" v-model ="subject.subName" placeholder="请输入班级名称"/>
									</div>
							</div>	
							<div class="form-group">
									<div class="col-sm-4 control-label">教师工号：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="teacherNum" v-model ="subject.teacherNum" placeholder="请输入教师工号"/>
									</div>
							</div>		
					</form>	
					<div style="text-align: center;" >
	                       <button type="button" class="btn btn-primary" @click="subjectSubmit" >提交</button>
	                       <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:30px">取消</button>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	<!-- 班级模态框 -->
	<div class="modal fade" id="classModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="modal-title text-center" id="title">班级编辑</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="classForm" style="margin:30px">
						 	<div class="form-group">
									<div class="col-sm-4 control-label">班级编号：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="classNum" v-model ="clazz.classNum" placeholder="请输入班级编号"/>
									</div>
							</div>
							<div class="form-group">
									<div class="col-sm-4 control-label">班级名称：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="className" v-model ="clazz.className" placeholder="请输入班级名称"/>
									</div>
							</div>	
							<div class="form-group">
									<div class="col-sm-4 control-label">教师工号：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="teacherNum" v-model ="clazz.teacherNum" placeholder="请输入教师工号"/>
									</div>
							</div>		
					</form>	
					<div style="text-align: center;" >
	                       <button type="button" class="btn btn-primary" @click="classSubmit" >提交</button>
	                       <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:30px">取消</button>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
</div>
</body>
<script type="text/javascript">
var baseUrl = "http://localhost:8080/SSMall";
var vm = new Vue({
    el:'#rootVue',
    data:{
    	job:{},//公共信息
    	clazz:{},
    	subject:{},
    	student:{},
    	teacher:{},
    	grades:[],
    	subjects:[]
    },
    methods: {
    	classSearch :function(){
    		$("#classTable").bootstrapTable('refresh');
    	},
    	classAdd :function(){
    		vm.clazz = {};
    	},
    	classSubmit :function(){
    		/* if(!classSubmitFn()){
    			return ;
    		} */
    		var url = "";
    		var id = vm.clazz.id
    		if(id !=null&&id!=""){
    			url = baseUrl+"/class/updateClass";
    		}else{
    			url = baseUrl+"/class/addClass";
    		}
    		$.ajax({
    		        type: "POST",
    		        url: url,
    		        data : vm.clazz ,
    		        dataType:"json",
    		        success: function(resultData){
    					if(resultData.state==0){//保存成功
    						$("#classModal").modal("hide");
    						$("#classTable").bootstrapTable('refresh');
    						layer.msg('保存成功', {
  							  icon: 1,
  							});
    					 }else{
    						layer.msg('保存失败，请重新提交', {
    							  icon: 0,
    							});
    					 }           	 
    		        }
    		    });
    	},
    	subjectSearch :function(){
    		$("#subjectTable").bootstrapTable('refresh');
    	},
    	subjectAdd :function(){
    		vm.subject = {};
    	},
    	subjectSubmit :function(){
    		/* if(!subjectSubmitFn()){
    			return ;
    		} */
    		var url = "";
    		var id = vm.subject.id
    		if(id !=null&&id!=""){
    			url = baseUrl+"/subject/updateSubject";
    		}else{
    			url = baseUrl+"/subject/addSubject";
    		}
    		$.ajax({
    		        type: "POST",
    		        url: url,
    		        data : vm.subject,
    		        dataType:"json",
    		        success: function(resultData){
    					if(resultData.state==0){//保存成功
    						$("#subjectModal").modal("hide");
    						$("#subjectTable").bootstrapTable('refresh');
    						layer.msg('保存成功', {
  							  icon: 1,
  							});
    					 }else{
    						layer.msg('保存失败，请重新提交', {
    							  icon: 0,
    							});
    					 }           	 
    		        }
    		    });
    	},
    	studentSearch :function(){
    		$("#studentTable").bootstrapTable('refresh');
    	},
		studentAdd :function(){
			vm.student = {};
    	},
    	studentSubmit :function(){
    		/* if(!subjectSubmitFn()){
    			return ;
    		} */
    		vm.student.sex = $("input[name='radio1']:checked").val();
    		var url = "";
    		var id = vm.student.id
    		if(id !=null&&id!=""){
    			url = baseUrl+"/student/updateStudent";
    		}else{
    			url = baseUrl+"/student/addStudent";
    		}
    		$.ajax({
    		        type: "POST",
    		        url: url,
    		        data : vm.student,
    		        dataType:"json",
    		        success: function(resultData){
    					if(resultData.state==0){//保存成功
    						$("#studentModal").modal("hide");
    						$("#studentTable").bootstrapTable('refresh');
    						layer.msg('保存成功', {
  							  icon: 1,
  							});
    					 }else{
    						layer.msg('保存失败，请重新提交', {
    							  icon: 0,
    							});
    					 }           	 
    		        }
    		    });
    	},
    	teacherSearch :function(){
    		$("#teacherTable").bootstrapTable('refresh');
    	},
    	teacherAdd :function(){
    		vm.teacher = {};
    	},
    	teacherSubmit :function(){
    		/* if(!subjectSubmitFn()){
    			return ;
    		} */
    		vm.teacher.sex = $("input[name='radio2']:checked").val();
    		var url = "";
    		var id = vm.teacher.id
    		if(id !=null&&id!=""){
    			url = baseUrl+"/teacher/updateTeacher";
    		}else{
    			url = baseUrl+"/teacher/addTeacher";
    		}
    		$.ajax({
    		        type: "POST",
    		        url: url,
    		        data : vm.teacher,
    		        dataType:"json",
    		        success: function(resultData){
    					if(resultData.state==0){//保存成功
    						$("#teacherModal").modal("hide");
    						$("#teacherTable").bootstrapTable('refresh');
    						layer.msg('保存成功', {
  							  icon: 1,
  							});
    					 }else{
    						layer.msg('保存失败，请重新提交', {
    							  icon: 0,
    							});
    					 }           	 
    		        }
    		    });
    	}
    },
    mounted: function () {
    	$(window).resize(function() {
    		$('[data-toggle="table"]').bootstrapTable('resetView');
    	});
    	//初始化班级信息
    	initStuClass();
    	//初始化科目信息
    	initSubject();
    	//表单校验
    	/* classValidate();
    	subjectValidate(); */
      }
});
/* -------------------------------------------------------------教师--------------------------------------------------- */

//教师操作
function teacherFormatter(value, row, index){
	var itemDetial = '<a class="btn btn-xs " onclick="editTeacher(\'' 
		+ row.id+ '\',\'' 
	    + row.num+ '\',\'' 
		+ row.password + '\',\''
		+ row.name+ '\',\'' 
		+ row.sex + '\',\''
		+ row.phone + '\',\''
		+ row.mail
		+ '\')"title="修改"><span class="glyphicon glyphicon glyphicon-search" data-toggle="modal" data-target="#teacherModal"></span></a>';
	var deleteItem = '<a style="color:red;" class="btn btn-xs " onclick="deleteTeacher(\'' + row.id
			+ '\')" title="删除"><span class="glyphicon glyphicon-trash"></span></a>';
	
	return itemDetial +"&emsp;&emsp;&emsp;"+ deleteItem;
}
/* 教师修改 */
function editTeacher(id,num,password,name,sex,phone,mail){
	var rows={
			id : id,
			num : num,
			password : password,
			name : name,
			sex : sex,
			phone : phone,
			mail : mail
	}
	vm.teacher = rows;
}
/* 教师删除 */
function deleteTeacher(id){
	var url = baseUrl+"/teacher/deleteTeacher";
	layer.confirm('确定删除么?', function() {
		$.ajax({
	        type: "POST",
	        url: url,
	        data : {
	        	id : id
	        } ,
	        dataType:"json",
	        success: function(resultData){
				if(resultData.state==0){//保存成功
					$("#teacherTable").bootstrapTable('refresh');
					layer.msg('删除成功', {
						  icon: 1,
						});
				 }else{
					layer.msg('删除失败', {
						  icon: 0,
						});
				 }           	 
	        }
	    });
	});
}
/* -------------------------------------------------------------学生--------------------------------------------------- */

//学生操作
function studentFormatter(value, row, index){
	var itemDetial = '<a class="btn btn-xs " onclick="editStudent(\'' 
		+ row.id+ '\',\'' 
	    + row.num+ '\',\'' 
		+ row.password + '\',\''
		+ row.grade+ '\',\'' 
		+ row.name+ '\',\'' 
		+ row.sex + '\',\''
		+ row.phone + '\',\''
		+ row.mail
		+ '\')"title="修改"><span class="glyphicon glyphicon glyphicon-search" data-toggle="modal" data-target="#studentModal"></span></a>';
	var deleteItem = '<a style="color:red;" class="btn btn-xs " onclick="deleteStudent(\'' + row.id
			+ '\')" title="删除"><span class="glyphicon glyphicon-trash"></span></a>';
	
	return itemDetial +"&emsp;&emsp;&emsp;"+ deleteItem;
}
/* 学生修改 */
function editStudent(id,num,password,grade,name,sex,phone,mail){
	var rows={
			id : id,
			num : num,
			password : password,
			grade : grade,
			name : name,
			sex : sex,
			phone : phone,
			mail : mail
	}
	vm.student = rows;
}
/* 学生删除 */
function deleteStudent(id){
	var url = baseUrl+"/student/deleteStudent";
	layer.confirm('确定删除么?', function() {
		$.ajax({
	        type: "POST",
	        url: url,
	        data : {
	        	id : id
	        } ,
	        dataType:"json",
	        success: function(resultData){
				if(resultData.state==0){//保存成功
					$("#studentTable").bootstrapTable('refresh');
					layer.msg('删除成功', {
						  icon: 1,
						});
				 }else{
					layer.msg('删除失败', {
						  icon: 0,
						});
				 }           	 
	        }
	    });
	});
}

/* -------------------------------------------------------------班级--------------------------------------------------- */
//班级操作
function classFormatter(value, row, index){
	var itemDetial = '<a class="btn btn-xs " onclick="editClass(\'' 
		+ row.id+ '\',\'' 
	    + row.classNum+ '\',\'' 
		+ row.className + '\',\''
		+ row.teacherNum
		+ '\')"title="修改"><span class="glyphicon glyphicon glyphicon-search" data-toggle="modal" data-target="#classModal"></span></a>';
	var deleteItem = '<a style="color:red;" class="btn btn-xs " onclick="deleteClass(\'' + row.id
			+ '\')" title="删除"><span class="glyphicon glyphicon-trash"></span></a>';
	
	return itemDetial +"&emsp;&emsp;&emsp;"+ deleteItem;
}
/* 班级修改 */
function editClass(id,classNum,className,teacherNum){
	var rows={
			id : id,
			className : className,
			classNum : classNum,
			teacherNum : teacherNum
	}
	vm.clazz = rows;
}
/* 班级删除 */
function deleteClass(id){
	var url = baseUrl+"/class/deleteClass";
	layer.confirm('确定删除么?', function() {
		$.ajax({
	        type: "POST",
	        url: url,
	        data : {
	        	id : id
	        } ,
	        dataType:"json",
	        success: function(resultData){
				if(resultData.state==0){//保存成功
					$("#classTable").bootstrapTable('refresh');
					layer.msg('删除成功', {
						  icon: 1,
						});
				 }else{
					layer.msg('删除失败', {
						  icon: 0,
						});
				 }           	 
	        }
	    });
	});
}
/* -------------------------------------------------------------课程--------------------------------------------------- */
//课程操作
function subjectFormatter(value, row, index){
	var itemDetial = '<a class="btn btn-xs " onclick="editSubject(\'' 
		+ row.id+ '\',\'' 
	    + row.subNum+ '\',\'' 
		+ row.subName + '\',\''
		+ row.teacherNum
		+ '\')"title="修改"><span class="glyphicon glyphicon glyphicon-search" data-toggle="modal" data-target="#subjectModal"></span></a>';
	var deleteItem = '<a style="color:red;" class="btn btn-xs " onclick="deleteSubject(\'' + row.id
			+ '\')" title="删除"><span class="glyphicon glyphicon-trash"></span></a>';
	
	return itemDetial +"&emsp;&emsp;&emsp;"+ deleteItem;
}

/* 课程修改 */
function editSubject(id,subNum,subName,teacherNum){
	var rows={
			id : id,
			subNum : subNum,
			subName : subName,
			teacherNum : teacherNum
	}
	vm.subject = rows;
}
/* 课程删除 */
function deleteSubject(id){
	var url = baseUrl+"/subject/deleteSubject";
	layer.confirm('确定删除么?', function() {
		$.ajax({
	        type: "POST",
	        url: url,
	        data : {
	        	id : id
	        } ,
	        dataType:"json",
	        success: function(resultData){
				if(resultData.state==0){
					$("#subjectTable").bootstrapTable('refresh');
					layer.msg('删除成功', {
						  icon: 1,
						});
				 }else{
					layer.msg('删除失败', {
						  icon: 0,
						});
				 }           	 
	        }
	    });
	});
}

/* 初始化班级信息 */
function initStuClass(){
	var url = baseUrl+"/class/list";
	 $.ajax({
        type: "GET",
        url: url,
        dataType:"json",
        success: function(resultData){
        	
			if(resultData.state==0){//查询成功
				var options = [];
				var flag={
						text : "全部",
						value : ""
				}
				options.push(flag);
				vm.job.grade = "";
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].className;
					option.value = data[i].classNum;
					options.push(option);
				}
				vm.grades = options;
			 }else{
				 //查询失败
				 layer.msg(resultData.message, {
		   				icon: 0,
		   			});
			 }           	 
        }
    });
}
/* 初始化科目信息 */
function initSubject(){
	var url = baseUrl+"/subject/list";
	 $.ajax({
        type: "GET",
        url: url,
        dataType:"json",
        success: function(resultData){
			if(resultData.state==0){//查询成功
				var options = [];
				var flag={
						text : "全部",
						value : ""
				}
				options.push(flag);
				vm.job.subject = "";
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].subName;
					option.value = data[i].subNum;
					options.push(option);
				}
				
				vm.subjects = options;
			 }else{
				 //查询失败
				 layer.msg(resultData.message, {
		   				icon: 0,
		   			});
			 }           	 
        }
    });
}
//柔和灰（text-muted）、主要蓝（text-primary）、成功绿（text-success）、信息蓝（text-info）、警告黄（text-warning）、危险红（text-danger）
//序号
function rowNoFormatter(value, row, index){
	var options = $("#classTable").bootstrapTable('getOptions');  
    return options.pageSize * (options.pageNumber - 1) + index + 1;
}
</script>
</html>