<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/SSMall/images/head.jpeg" type="image/x-icon">
<link href="/SSMall/styles/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/SSMall/styles/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="/SSMall/styles/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<link href="/SSMall/js/layer/skin/default/layer.css" rel="stylesheet" id="layuicss-skinlayercss"></head>
<script type="text/javascript" src="/SSMall/js/jquery.min.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/SSMall/js/layer/layer.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/SSMall/js/vue.js"></script>
<script type="text/javascript" src="/SSMall/js/common.js"></script>
<title>学生</title>
</head>
<body>
	<div class="panel-body" id="teacherVue">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">学生</h3>
			</div>
			<div id="toolbar">
				<form id="searchForm" style="margin-left: 10px;">
					<div class="form-inline">
						<label class="control-label">批改状态：</label>
						<div class="form-group">
							<select class="form-control selectpicker" name="state" v-model="job.state" data-live-search="false"
								data-size="10">
								<option data-tokens="全部" value="" selected>全部</option>
								<option data-tokens="未批改" value="1">未提交</option>
								<option data-tokens="已批改" value="2">未批改</option>
								<option data-tokens="已批改" value="3">已批改</option>
							</select>
						</div>
						<label class="control-label">科目：</label>
						<div class="form-group">
							<select class="form-control" name="subject" v-model="job.subject">  
								  <option v-for="subject in subjects" v-bind:value="subject.value">  
								    {{ subject.text }}  
								  </option>  
								</select> 
						 </div>
						 <button type="button" class="btn btn-primary" @click="search" >搜索</button>
					</div>
				</form>
			</div>
			<table id="table" data-classes="table table-hover" 
				data-pagination="true" data-toggle="table"
				data-query-params="queryStudentParams"
				data-url="http://localhost:8080/SSMall/working/queryWorkList"
				data-id-field="id">
				<thead>
					<tr>
						<th data-formatter="rowNoFormatter">序号</th>
						<th data-field="title">作业题目</th>
						<th data-field="updateTime">修改时间</th>
						<th data-field="teacherName">发布人</th>
						<th data-field="state" data-formatter="stateFormatter">作业状态</th>
						<th data-field="subNum" data-formatter="deliveryTypeFormatter">科目</th>
						<th data-field="publishUrl" data-formatter="publishUrlFormatter">作业详情</th>
						
					</tr>
				</thead>
			</table>
		</div>
	</div>
</body>
<script type="text/javascript">
var baseUrl = "http://localhost:8080/SSMall";
var param = getUrlParam();
var username = param.username;
var vm = new Vue({
    el:'#teacherVue',
    data:{
    	job:{},
    	grades:[],
    	subjects:[]
    },
    methods: {
    	search :function(){
    		$("#table").bootstrapTable('refresh');
    	}
    },
    mounted: function () {
    	$(window).resize(function() {
    		$('[data-toggle="table"]').bootstrapTable('resetView');
    	});
    	//初始化班级信息
    	initStuClass();
    	//初始化科目信息
    	initSubject();
      }
});

/* 初始化班级信息 */
function initStuClass(){
	var url = baseUrl+"/class/list";
	 $.ajax({
        type: "GET",
        url: url,
        dataType:"json",
        success: function(resultData){
			if(resultData.state==0){//查询成功
				var options = [];
				var flag={
						text : "全部",
						value : ""
				}
				options.push(flag);
				vm.job.grade = "";
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].className;
					option.value = data[i].classNum;
					options.push(option);
				}
				vm.grades = options;
			 }else{
				 //查询失败
				 layer.msg(resultData.message, {
		   				icon: 0,
		   			});
			 }           	 
        }
    });
}
/* 初始化科目信息 */
function initSubject(){
	var url = baseUrl+"/subject/list";
	 $.ajax({
        type: "GET",
        url: url,
        dataType:"json",
        success: function(resultData){
			if(resultData.state==0){//查询成功
				var options = [];
				var flag={
						text : "全部",
						value : ""
				}
				options.push(flag);
				vm.job.subject = "";
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].subName;
					option.value = data[i].subNum;
					options.push(option);
				}
				
				vm.subjects = options;
			 }else{
				 //查询失败
				 layer.msg(resultData.message, {
		   				icon: 0,
		   			});
			 }           	 
        }
    });
}

function queryStudentParams(params) {
	var query = $("#searchForm").serializeJSON();
	query["stuNum"] = username;
	query["pageNumber"] = params.pageNumber;
	query["pageSize"] = params.pageSize;
	if (params.sortName) {
		query["sortName"] = params.sortName;
		query["sortOrder"] = params.sortOrder;
	}
	return query;
}


//序号
function rowNoFormatter(value, row, index){
	var options = $("#table").bootstrapTable('getOptions');  
    return options.pageSize * (options.pageNumber - 1) + index + 1;
}
//柔和灰（text-muted）、主要蓝（text-primary）、成功绿（text-success）、信息蓝（text-info）、警告黄（text-warning）、危险红（text-danger）
//作业状态
function stateFormatter(value, row, index) {
	if (value == "1") {
		return "<span class='text-danger'>未提交</span>";
	} else if(value == "2"){
		return "<span class='text-muted'>未批改</span>";
	}else{
		return "<span class='text-success'>已批改</span>";
	}
}
//作业详情
function publishUrlFormatter(value, row, index){
	return [ "<a href='javascript:void(0)' onclick='workingInfo(\""+value+"\" )' class='btn btn-xs ' title='查看'>编辑</a>" ].join('');
}
//班级信息
function classNameFormatter(value, row, index) {
	var grades = vm.grades;
	for (var i = 0; i < grades.length; i++) {
		if(grades[i].value==value){
			return "<span class='text-info'>"+grades[i].text+"</span>";
		}
	}
	return "<span class='text-info'></span>";
}
//科目信息
function deliveryTypeFormatter(value, row, index) {
	var subjects = vm.subjects;
	for (var i = 0; i < subjects.length; i++) {
		if(subjects[i].value==value){
			return "<span class='text-info'>"+subjects[i].text+"</span>";
		}
	}
	return "<span class='text-info'></span>";
}

//
function workingInfo(questions){
	console.log(questions);
}

//获取Url参数
function getUrlParam(){
    var url = location.search; //获取url中"?"符后的字串   
    var theRequest = new Object();   
    if (url.indexOf("?") != -1) {   
       var str = url.substr(1);   
       strs = str.split("&");   
       for(var i = 0; i < strs.length; i ++) {   
          theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);   
       }   
    }   
    return theRequest;   
}
</script>
</html>