<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/SSMall/images/head.jpeg" type="image/x-icon">
<link href="/SSMall/styles/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/SSMall/js/layer/skin/default/layer.css" rel="stylesheet" id="layuicss-skinlayercss"></head>
<script type="text/javascript" src="/SSMall/js/jquery.min.js"></script>
<script type="text/javascript" src="/SSMall/js/vue.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/SSMall/js/layer/layer.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/jquery.validate.min.js"></script>
<title>学生页</title>
</head>
<body>
	<div class="panel-body" id="register">
		<div class="panel panel-default">
			<div class="panel-heading">
	        	<h3 class="panel-title">用户注册</h3>
	    	</div>
	    	<div id="" style="padding: 10px 10px 0px 10px;">
				<form class="form-horizontal" id="orderForm" method="post">
								<div class="form-group">
							 		<div class="col-md-4 control-label">注册用户：</div>
								 	<div class="col-md-5">
								  		<select class="form-control" name="user" id="user" @change="userExchage" >
											<option value = "1">学生</option>
											<option value = "2">教师</option>
										</select>
								 	</div>
							 	</div>
							 	<div class="form-group">
										<div class="col-sm-4 control-label">学号/工号：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" v-model ="user.num" placeholder="请输入学号/工号"/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">密码：</div>
									<div class="col-sm-5">
										<input type="password" class="form-control" v-model ="user.password" placeholder="请输入密码"/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">确认密码：</div>
									<div class="col-sm-5">
										<input type="password" class="form-control" placeholder="请再输入一遍密码"/>
									</div>
								</div>
								<div class="form-group" id="student">
									<div class="col-md-4 control-label">班级：</div>
								 	<div class="col-md-5">
								 		<select class="form-control" v-model="user.grade">  
										  <option v-for="option in options" v-bind:value="option.value">  
										    {{ option.text }}  
										  </option>  
										</select> 
								  		<!-- <select class="form-control"  v-model="user.stuClass">
											<option value = "1">软件工程1401</option>
											<option value = "2">软件工程1402</option>
											<option value = "3">软件工程1403</option>
											<option value = "4">软件工程1404</option>
										</select> -->
								 	</div>
								 </div>
								
								<div class="form-group">
									<div class="col-sm-4 control-label">姓名：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" v-model ="user.name" placeholder="请输入用户姓名"/>
									</div>
								</div>	
								<div class="form-group">
									<div class="col-sm-4 control-label">性别：</div>
									<div class="col-sm-5">
										男<input type="radio" name="m" value="m" v-model = "user.sex"/>  
										女<input type="radio" name="f" value="f" v-model = "user.sex"/>  
										<!-- <input type="text" class="form-control" v-model ="user.sex" placeholder="请输入用户ID"/> -->
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">电话：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" v-model ="user.phone" placeholder="请输入电话"/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">邮箱：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" v-model ="user.mail" placeholder="请输入邮箱"/>
									</div>
								</div>
									
								<div style="text-align: center;">
			                          <button type="button" class="btn btn-primary" @click="submit" >  
			                              	确认
			                          </button>
			                          <a href="/SSMall/views/login.html" class="btn btn-default" style="margin-left:30px">取消</a>
								</div>
					</form>
			</div>
		</div>		
	</div>
</body>
<script type="text/javascript">
var param = getUrlParam();
var username = param.username;
var baseUrl = "http://localhost:8080/SSMall";
var vm = new Vue({
    el:'#register',
    data:{
        user:{},
        options:[]
    },
    methods: {
    	
    	userExchage :function(){
    		userInfo();
    	},
    	submit :function(){
    		 var user = $("#user").val();
    		 var url;
    		 if(user=="1"){//为学生
    			url = baseUrl+"/user/stuRegister";
    		 }else{//为教师
    			url = baseUrl+"/user/teaRegister";
    		 }
	   		 $.ajax({
	   	        type: "POST",
	   	        url: url,
	   	        data : vm.user,
	   	        dataType:"json",
	   	        success: function(resultData){
	   				if(resultData.state==0){//保存成功
	   					window.location.href = baseUrl + "/views/login.html";
	   				 }else{
	   					layer.alert('注册失败，请重新提交', {
	   						  icon: 0,
	   						  skin: 'layer-ext-moon'
	   						});
	   				 }           	 
	   	        }
	   	    });
    	}
    },
    mounted: function () {
    	userInfo();
    	//初始化班级信息
    	initStuClass();
      }
});

function initStuClass(){
	var url = baseUrl+"/class/list";
	 $.ajax({
        type: "GET",
        url: url,
        dataType:"json",
        success: function(resultData){
        	
			if(resultData.state==0){//查询成功
				var options = [];
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].className;
					option.value = data[i].classNum;
					vm.user.stuClass = data[i].classNum;
					options.push(option);
				}
				vm.options = options;
			 }else{
				 //查询失败
				 alert(resultData.message);
			 }           	 
        }
    });
}
//获取Url参数
function getUrlParam(){
    var url = location.search; //获取url中"?"符后的字串   
    var theRequest = new Object();   
    if (url.indexOf("?") != -1) {   
       var str = url.substr(1);   
       strs = str.split("&");   
       for(var i = 0; i < strs.length; i ++) {   
          theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);   
       }   
    }   
    return theRequest;   
}
/* 判断注册的信息为学生还是教师 */
function userInfo(){
	var user = $("#user").val();
	if(user=="1"){//为学生
		$("#student").show();
	}else{//为教师
		$("#student").hide();
	}
}
</script>
</html>