<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/SSMall/images/head.jpeg" type="image/x-icon">
<link href="/SSMall/styles/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/SSMall/styles/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="/SSMall/styles/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<link href="/SSMall/js/layer/skin/default/layer.css" rel="stylesheet" id="layuicss-skinlayercss"></head>
<script type="text/javascript" src="/SSMall/js/jquery.min.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/bootstrapValidator.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/zh_CN.js"></script>
<script type="text/javascript" src="/SSMall/js/layer/layer.js"></script>
<script type="text/javascript" src="/SSMall/js/vue.js"></script>
<script type="text/javascript" src="/SSMall/js/common.js"></script>
<title>教师</title>
</head>
<body>
<div id="teacherVue">
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-heading" style=" height:50px">
				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav" style="background-color: rgba(255, 255, 255, 0)">
						<li class="light-blue" id="userInfo" style="background-color: rgba(255, 255, 255, 0)">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle" style="margin-top:0px;background-color: rgba(255, 255, 255, 0); float: right;">
								<span class="user-info" style="background-color: rgba(255, 255, 255, 0); float: left;">
									<span style="font-size: 14px; font-family: Microsoft Yahei">您好：</span>
									<span style="font-size: 16px; font-family: Microsoft Yahei">{{teaInfo.name}}</span>
								</span> 
							</a>
							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close" style="margin-top:40px">
								<li>
									<a @click="updateUserInfo">
										<i class="glyphicon"></i>修改账户信息
									</a>
								</li>
								<li>
									<a href="/SSMall/views/login.html">
										<i class="icon-off"></i>退出
									</a>
								</li>
							</ul>
							
						</li>
					</ul>
					<!-- /.ace-nav -->
				</div>
			</div>
			<div id="toolbar">
				<form id="searchForm" style="margin-left: 10px;">
					<div class="form-inline">
						<label class="control-label">批改状态：</label>
						<div class="form-group">
							<select class="form-control selectpicker" name="state" v-model="job.state" data-live-search="false"
								data-size="10">
								<option data-tokens="全部" value="" selected>全部</option>
								<option data-tokens="未批改" value="1">未提交</option>
								<option data-tokens="已批改" value="2">未批改</option>
								<option data-tokens="已批改" value="3">已批改</option>
							</select>
						</div>
						<label class="control-label">班级：</label>
						<div class="form-group">
							<select class="form-control" name="grade" v-model="job.grade">  
								  <option v-for="grade in grades" v-bind:value="grade.value">  
								    {{ grade.text }}  
								  </option>  
								</select> 
						 </div>
						 <label class="control-label">科目：</label>
						<div class="form-group">
							<select class="form-control" name="subject" v-model="job.subject">  
								  <option v-for="subject in subjects" v-bind:value="subject.value">  
								    {{ subject.text }}  
								  </option>  
								</select> 
						 </div>
						 <label class="control-label">学生姓名：</label>
						<div class="form-group">
							<input type="text" class="form-control" name="stuName" v-model ="job.stuName" />
						 </div>
						 <button type="button" class="btn btn-primary" @click="search" >搜索</button>
						 <button type="button" class="btn btn-primary" @click="addWorking" >发布作业</button>
					</div>
				</form>
			</div>
			<table id="table" data-classes="table table-hover" 
				data-pagination="true" data-toggle="table"
				data-query-params="queryTeacherParams"
				data-url="http://localhost:8080/SSMall/working/queryWorkList"
				data-id-field="id">
				<thead>
					<tr>
						<th data-formatter="rowNoFormatter">序号</th>
						<th data-field="updateTime">修改时间</th>
						<th data-field="title">作业题目</th>
						<th data-field="teacherName">发布人</th>
						<th data-field="subNum" data-formatter="deliveryTypeFormatter">科目</th>
						<th data-field="classNum" data-formatter="classNameFormatter">班级 </th>
						<th data-field="state" data-formatter="stateFormatter">作业状态</th>
						<th data-field="stuName">学生姓名</th>
						<th data-field="question" data-formatter="questionFormatter">题目</th>
						<th data-field="answer">答案</th>
						
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<!-- 模态框 -->
	<div class="modal fade" id="workingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="modal-title text-center" id="title"></h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="gradeForm" style="margin:30px">
						 	 <div class="form-group" >
									<p><i>Q:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i><i>题目1</i><p>
									<p><i>A:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i><i>回答1</i><p>
									<div>
										<i>点评:</i>
										<textarea rows="3" class="form-control" name="grade"></textarea>
									</div>
							</div>	
					</form>	
					<div style="text-align: center;">
	                       <button type="button" class="btn btn-primary" @click="submit" >提交</button>
	                       <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:30px">取消</button>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	
	<!-- 模态框 -->
	<div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 class="modal-title text-center">教师信息修改</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="teaInfoForm" style="margin:30px">
								<div class="form-group">
									<div class="col-sm-4 control-label">姓名：</div>
									<div class="col-sm-5" style="margin-top:7px">
									{{teaInfo.name}}
									</div>
								</div>
						 		<div class="form-group">
									<div class="col-sm-4 control-label">工号：</div>
									<div class="col-sm-5" style="margin-top:7px">
										{{teaInfo.num}}
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">新密码：</div>
									<div class="col-sm-5">
										<input type="password" class="form-control" name="password" v-model ="teaInfo.password" placeholder="请输入密码"/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">确认密码：</div>
									<div class="col-sm-5">
										<input type="password" class="form-control" name="confirmPsw" placeholder="请再输入一遍密码"/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">电话：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="phone" v-model ="teaInfo.phone" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-4 control-label">邮箱：</div>
									<div class="col-sm-5">
										<input type="text" class="form-control" name="mail" v-model ="teaInfo.mail" placeholder="请输入邮箱"/>
									</div>
								</div>		
					</form>	
					<div style="text-align: center;" id="modalFoot" >
	                       <button type="button" class="btn btn-primary" @click="submitTeacher" >提交</button>
	                       <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left:30px">取消</button>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
</div>
</body>
<script type="text/javascript">
var baseUrl = "http://localhost:8080/SSMall";
var param = getUrlParam();
var username = param.username;
var ID = "";
var flag = 0;

var vm = new Vue({
    el:'#teacherVue',
    data:{
    	teaInfo:{},
    	job:{},
    	grades:[],
    	subjects:[]
    },
    methods: {
    	search :function(){
    		$("#table").bootstrapTable('refresh');
    	},
    	submit :function(){
    		var grades = pacageData();
    		var param = {};
    		param.id = ID;
    		param.state = "3";
    		param.grade = grades;
    		var url = baseUrl+"/working/updateAnswser";
    		$.ajax({
    		        type: "POST",
    		        url: url,
    		        data : param ,
    		        dataType:"json",
    		        success: function(resultData){
    					if(resultData.state==0){//保存成功
    						$("#workingModal").modal("hide");
    						$("#table").bootstrapTable('refresh');
    						layer.msg('保存成功', {
  							  icon: 1,
  							});
    					 }else{
    						layer.msg('注册失败，请重新提交', {
    							  icon: 0,
    							});
    					 }           	 
    		        }
    		    });
    	},
    	submitTeacher : function(){
    		//表单校验
    		if(!onsubmitFn()){
    			return ;
    		}
    		var url = baseUrl+"/teacher/update";
    		$.ajax({
    		        type: "POST",
    		        url: url,
    		        data : vm.teaInfo ,
    		        dataType:"json",
    		        success: function(resultData){
    					if(resultData.state==0){//保存成功
    						$("#teacherModal").modal("hide");
    						layer.msg('保存成功', {
  							  icon: 1,
  							});
    					 }else{
    						layer.msg('保存失败，请重新提交', {
    							  icon: 0,
    							});
    					 }           	 
    		        }
    		    });
    	},
    	//更新个人信息
    	updateUserInfo :function(){
    		$("#teacherModal").modal();
    		//$('#studentInfoForm')[0].reset();
    		
    	},
    	addWorking :function(){
    		window.location.href = baseUrl + "/views/working.html?username="+username;
    	}
    },
    mounted: function () {
    	$(window).resize(function() {
    		$('[data-toggle="table"]').bootstrapTable('resetView');
    	});
    	//初始化班级信息
    	initStuClass();
    	//初始化科目信息
    	initSubject();
    	//获取当前教师用户信息 
    	queryTeacher();
    	//表单校验
    	validateForm();
      }
});
/* 获取当前教师用户信息 */
function queryTeacher(){
	var url = baseUrl+"/teacher/queryTeacherByTeaNum";
	 $.ajax({
       type: "POST",
       data:{
    	   teaNum : username
       },
       url: url,
       dataType:"json",
       success: function(resultData){
			if(resultData.state==0){//查询成功
				vm.teaInfo = resultData.data
			 }else{
				 //查询失败
				 layer.msg(resultData.message, {
		   				icon: 0,
		   			});
			 }         	 
       }
   });
	
}
/* 初始化班级信息 */
function initStuClass(){
	var url = baseUrl+"/class/list";
	 $.ajax({
        type: "GET",
        url: url,
        dataType:"json",
        success: function(resultData){
			if(resultData.state==0){//查询成功
				var options = [];
				var flag={
						text : "全部",
						value : ""
				}
				options.push(flag);
				vm.job.grade = "";
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].className;
					option.value = data[i].classNum;
					options.push(option);
				}
				vm.grades = options;
			 }else{
				 //查询失败
				 layer.msg(resultData.message, {
		   				icon: 0,
		   			});
			 }           	 
        }
    });
}
/* 初始化科目信息 */
function initSubject(){
	var url = baseUrl+"/subject/list";
	 $.ajax({
        type: "GET",
        url: url,
        dataType:"json",
        success: function(resultData){
			if(resultData.state==0){//查询成功
				var options = [];
				var flag={
						text : "全部",
						value : ""
				}
				options.push(flag);
				vm.job.subject = "";
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].subName;
					option.value = data[i].subNum;
					options.push(option);
				}
				
				vm.subjects = options;
			 }else{
				 //查询失败
				 layer.msg(resultData.message, {
		   				icon: 0,
		   			});
			 }           	 
        }
    });
}
//参数
function queryStudentParams(params) {
	var query = $("#searchForm").serializeJSON();
	query["teacherNum"] = username;
	query["pageNumber"] = params.pageNumber;
	query["pageSize"] = params.pageSize;
	if (params.sortName) {
		query["sortName"] = params.sortName;
		query["sortOrder"] = params.sortOrder;
	}
	return query;
}

//序号
function rowNoFormatter(value, row, index){
	var options = $("#table").bootstrapTable('getOptions');  
    return options.pageSize * (options.pageNumber - 1) + index + 1;
}
//柔和灰（text-muted）、主要蓝（text-primary）、成功绿（text-success）、信息蓝（text-info）、警告黄（text-warning）、危险红（text-danger）
//作业状态
function stateFormatter(value, row, index) {
	if (value == "1") {
		return "<span class='text-danger'>未提交</span>";
	} else if(value == "2"){
		return "<span class='text-muted'>未批改</span>";
	}else{
		return "<span class='text-success'>已批改</span>";
	}
}
//班级信息
function classNameFormatter(value, row, index) {
	var grades = vm.grades;
	for (var i = 0; i < grades.length; i++) {
		if(grades[i].value==value){
			return "<span class='text-info'>"+grades[i].text+"</span>";
		}
	}
	return "<span class='text-info'></span>";
}
//科目信息
function deliveryTypeFormatter(value, row, index) {
	var subjects = vm.subjects;
	for (var i = 0; i < subjects.length; i++) {
		if(subjects[i].value==value){
			return "<span class='text-info'>"+subjects[i].text+"</span>";
		}
	}
	return "<span class='text-info'></span>";
}
//作业详情
function questionFormatter(value, row, index){
	
	return [ "<a href='javascript:void(0)' onclick='workingInfo(\""+row.id+"\",\""+row.title+"\",\""+row.state+"\",\""+row.question+"\",\""+row.answer+"\",\""+row.grade+"\" )' class='btn btn-xs ' title='查看'>审批</a>" ].join('');
}
function workingInfo(id,title,state,question,answer,grade){
	if(state=="1"){
		layer.msg("该学生还未提交作业", {
				icon: 0,
			});
		return ;
	}
	
	$("#workingModal").modal();
	$('#gradeForm')[0].reset();
	ID = id;
	$("#title").text(title);
	var questions = question.split(":;");
	var answers = answer.split(":;");
	var grades;
	if(state=="3"){
		grades = grade.split(":;");
	}
	var html = '';
	var i;
	for (i = 0; i < questions.length; i++) {
		var question = questions[i];
		var answer = answers[i];
		var grade = ""
		if(state=="3"){
			grade = grades[i];
		}
		html += '<div class="form-group" style="padding-bottom:20px; border-bottom:1px solid #A9C9E2">'
			+'<p><i>Q:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i><i>'+question+'</i><p>'
			+'<p><i>A:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i><i>'+answer+'</i><p>'
			+'<div>'
			+'<i>点评:</i>'
			+'<textarea rows="3" class="form-control" name="grade" id = "grade'+i+'" >'+grade+'</textarea>'
			+'</div>'
			+'</div>';
	}
	flag = i;
	$("#gradeForm").html(html);
	
}

//获取表单数据
function pacageData(){
	var data=""
	for(var i = 0;i < flag; i++){
		if(($("#grade"+i+"").length)>0){
			data = data + $("#grade"+i+"").val() + ":;"
		}
	}
	return data.substring(0,data.length-2);
	
}

//获取Url参数
function getUrlParam(){
    var url = location.search; //获取url中"?"符后的字串   
    var theRequest = new Object();   
    if (url.indexOf("?") != -1) {   
       var str = url.substr(1);   
       strs = str.split("&");   
       for(var i = 0; i < strs.length; i ++) {   
          theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);   
       }   
    }   
    return theRequest;   
}
//表单提交前再进行一次验证
function onsubmitFn() {
  var bootstrapValidator = $("#teaInfoForm").data("bootstrapValidator");
  bootstrapValidator.validate();
  return bootstrapValidator.isValid();
}
//表单验证
function validateForm(){
	$("#teaInfoForm").bootstrapValidator({
	    message: 'This value is not valid',
	    feedbackIcons: {
	        valid: 'glyphicon glyphicon-ok',
	        invalid: 'glyphicon glyphicon-remove',
	        validating: 'glyphicon glyphicon-refresh'
	    },
	    fields: {
	        password: {
	        	message: "密码校验失败",
	        	validators: {
	        		notEmpty: {
	        			message: "密码不能为空"
	        		},
	        		stringLength: {//检测长度  
                      min: 6,  
                      max: 30,  
                      message: '密码长度必须在6-30之间'  
                  },
	        	}
	        },
	        confirmPsw: {
	            message: "验证密码失败",
	            validators: {
	            	notEmpty: {
	        			message: "密码输入不一致"
	        		},
	                identical: {//与指定控件内容比较是否相同，比如两次密码不一致  
                      field: 'password',//指定控件name  
                      message: '密码输入不一致'  
                  }, 
	            }
	        },
	       
	        phone: {
	            message: "手机号码校验失败",
	            validators: {
	            	notEmpty: {
	                    message: "手机号不能为空"
	                },
	                regexp: {//正则验证  
                      regexp: /^[1][3,4,5,7,8][0-9]{9}$/,  
                      message: '请输入正确的手机号码'  
                  }, 
	            }
	        },
	        mail: {
	            message: "邮箱校验失败",
	            validators: {
	            	notEmpty: {
	                    message: "邮箱不能为空"
	                },
	            	emailAddress: {//验证email地址  
                      message: '请输入正确的邮箱地址'  
                  },  
	            }
	        },
	    }
	});

}
</script>
</html>