<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/SSMall/images/head.jpeg" type="image/x-icon">
<link href="/SSMall/styles/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/SSMall/styles/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="/SSMall/styles/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
<link href="/SSMall/js/layer/skin/default/layer.css" rel="stylesheet" id="layuicss-skinlayercss"></head>
<script type="text/javascript" src="/SSMall/js/jquery.min.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap-table/bootstrap-table.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/SSMall/js/layer/layer.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/SSMall/js/vue.js"></script>
<script type="text/javascript" src="/SSMall/js/common.js"></script>
<title>教师</title>
</head>
<body>
	<div class="panel-body" id="teacherVue">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">教师</h3>
			</div>
			<div id="toolbar">
				<form id="searchForm" style="margin-left: 10px;">
					<div class="form-inline">
						<label class="control-label">批改状态：</label>
						<div class="form-group">
							<select class="form-control selectpicker" name="state" v-model="job.state" data-live-search="false"
								data-size="10">
								<option data-tokens="全部" value="9999" selected>全部</option>
								<option data-tokens="未批改" value="1">未批改</option>
								<option data-tokens="已批改" value="2">已批改</option>
							</select>
						</div>
						<label class="control-label">班级：</label>
						<div class="form-group">
							<select class="form-control" name="grade" v-model="job.grade">  
								  <option v-for="grade in grades" v-bind:value="grade.value">  
								    {{ grade.text }}  
								  </option>  
								</select> 
						 </div>
						 <label class="control-label">科目：</label>
						<div class="form-group">
							<select class="form-control" name="subject" v-model="job.subject">  
								  <option v-for="subject in subjects" v-bind:value="subject.value">  
								    {{ subject.text }}  
								  </option>  
								</select> 
						 </div>
						 <label class="control-label">学生姓名：</label>
						<div class="form-group">
							<input type="text" class="form-control" name="stuName" v-model ="job.stuName" />
						 </div>
						 <button type="button" class="btn btn-primary" @click="search" >搜索 </button>
						
					</div>
				</form>
			</div>
			<table id="table" data-classes="table table-hover" 
				data-pagination="true" data-toggle="table"
				data-query-params="queryParams"
				data-url="http://localhost:8080/SSMall/working/queryWorkList"
				data-id-field="id">
				<thead>
					<tr>
						<th data-formatter="rowNoFormatter">序号</th>
						<th data-field="title">作业题目</th>
						<th data-field="teacherName">提交人</th>
						<th data-field="publishUrl">作业URL</th>
						<th data-field="state" data-formatter="stateFormatter">作业状态</th>
						<th data-field="className" data-formatter="classNameFormatter">班级 </th>
						<th data-field="subName" data-formatter="deliveryTypeFormatter">科目</th>
						<th data-field="stuName">学生姓名</th>
						<th data-field="submitUrl">提交作业</th>
						<th data-field="updateTime">修改时间</th>
						
					</tr>
				</thead>
			</table>
		</div>
	</div>
</body>
<script type="text/javascript">
	//按状态查询
	/* $("#accountStatus").change(function() {
		$("#table").bootstrapTable('refresh');
	})
		
	// 搜索
	$("#search").click(function(){
		$("#table").bootstrapTable('refresh');
	}); */

	/* $(window).resize(function() {
		$('[data-toggle="table"]').bootstrapTable('resetView');
	}); */

var baseUrl = "http://localhost:8080/SSMall";
var vm = new Vue({
    el:'#teacherVue',
    data:{
    	job:{},
    	grades:[],
    	subjects:[]
    },
    methods: {
    	//序号
    	rowNoFormatter :function(value, row, index){
    		var options = $("#table").bootstrapTable('getOptions');  
    	    return options.pageSize * (options.pageNumber - 1) + index + 1;
    	},
    	//柔和灰（text-muted）、主要蓝（text-primary）、成功绿（text-success）、信息蓝（text-info）、警告黄（text-warning）、危险红（text-danger）
    	//作业状态
    	stateFormatter :function(value, row, index) {
    		if (value == "1") {
    			return "<span class='text-primary'>未批改</span>";
    		} else{
    			return "<span class='text-success'>已批改</span>";
    		}
    	},
    	//班级信息
    	classNameFormatter :function(value, row, index) {
    		if (value == "1") {
    			return "<span class='text-info'>快递</span>";
    		} else if (value == "2") {
    			return "<span class='text-info'>EMS</span>";
    		} else if (value == "3") {
    			return "<span class='text-info'>平邮</span>";
    		} else {
    			return "<span class='text-info'>商户自有物流</span>";
    		}
    	},
    	//科目信息
    	deliveryTypeFormatter :function(value, row, index) {
    		if (value == "1") {
    			return "<span class='text-info'>快递</span>";
    		} else if (value == "2") {
    			return "<span class='text-info'>EMS</span>";
    		} else if (value == "3") {
    			return "<span class='text-info'>平邮</span>";
    		} else {
    			return "<span class='text-info'>商户自有物流</span>";
    		}
    	},
    	search :function(){
    		$("#table").bootstrapTable('refresh');
    	}
    },
    mounted: function () {
    	$(window).resize(function() {
    		$('[data-toggle="table"]').bootstrapTable('resetView');
    	});
    	//初始化班级信息
    	//initStuClass();
      }
});

function initStuClass(){
	var url = baseUrl+"/class/list";
	 $.ajax({
        type: "GET",
        url: url,
        dataType:"json",
        success: function(resultData){
			if(resultData.state==0){//查询成功
				var options = [];
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].className;
					option.value = data[i].classNum;
					options.push(option);
				}
				vm.grades = options;
			 }else{
				 //查询失败
				 alert(resultData.message);
			 }           	 
        }
    });
}

/* 判断注册的信息为学生还是教师 */
function userInfo(){
	var user = $("#user").val();
	if(user=="1"){//为学生
		$("#student").show();
	}else{//为教师
		$("#student").hide();
	}
}
</script>
</html>