<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/SSMall/images/head.jpeg" type="image/x-icon">
<link href="/SSMall/styles/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/SSMall/styles/radio/magic-check.css" rel="stylesheet">
<link href="/SSMall/js/layer/skin/default/layer.css" rel="stylesheet" id="layuicss-skinlayercss"></head>
<link href="/SSMall/styles/checkbox.css" rel="stylesheet">
<script type="text/javascript" src="/SSMall/js/jquery.min.js"></script>
<script type="text/javascript" src="/SSMall/js/vue.js"></script>
<script type="text/javascript" src="/SSMall/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/bootstrapValidator.js"></script>
<script type="text/javascript" src="/SSMall/js/validate/zh_CN.js"></script>
<script type="text/javascript" src="/SSMall/js/layer/layer.js"></script>
<script type="text/javascript" src="/SSMall/js/common.js"></script>
<title>作业</title>

	<style type="text/css">
		.my{
		background: #e0f2f1;
		}
	</style>
</head>

<body>
	<div class="panel-body" id="working">
		<div class="panel panel-default">
			<div class="panel-heading">
	        	<h3 class="panel-title">作业内容</h3>
	    	</div>
	    	<div style="padding: 10px 10px 0px 10px;">
	    		<div class="form-inline">
		    		<div class="row">
		    			<div class="col-sm-2 col-md-offset-3">
			    			<label >班级：</label>
							<div class="form-group">
								<select class="form-control" name="grade" v-model="grade">  
									  <option v-for="grade in grades" v-bind:value="grade.value">  
									    {{ grade.text }}  
									  </option>  
									</select> 
							 </div>
						 </div>
						 <div class="col-sm-2">
						 	<label class="control-label">科目：</label>
							<div class="form-group">
								<select class="form-control" name="subject" v-model="subject">  
									  <option v-for="subject in subjects" v-bind:value="subject.value">  
									    {{ subject.text }}  
									  </option>  
									</select> 
							 </div>
						 </div>
				 		<div class="col-sm-3 " >
				 			<button type="button" class="btn btn-info" @click="addQuestion">新增题目</button>
							<button type="button" class="btn btn-default" @click="deselect" style="margin-left:10px">移除</button>
						</div>
		    		</div>
	    		</div>
				<form class="form-horizontal" id="questionForm" style="margin-top: 20px;">
							 	<div class="row">
							 		<div class="col-md-1 col-md-offset-3" style="margin-top:20px">
										<label>作业名称：</label>
									</div>
									<div class="col-sm-4">
								 		<div class="form-group" >
									  		<textarea rows="3" class="form-control" name="question" id="title" style="width:545px"></textarea>
										</div>
									</div>
							 	</div>
								
								<div class="form-group" id="que0Group">
									<div class="col-md-1 col-md-offset-3 control-label">
										<input class="magic-checkbox" type="checkbox" name="layout"  value="que0" id="que0">
										<label for="que0">题目： </label>
									</div>
									<div class="col-sm-4">
								  		<textarea rows="3" class="form-control" name="question" id="question0"></textarea>
									</div>
								</div>

				</form>
				<div style="text-align: center; margin-bottom:10px">
                       <button type="button" class="btn btn-primary" @click="submit" >发布</button>
                       <button type="button" class="btn btn-default back" style="margin-left:30px">返回</button>
				</div>
			</div>
		</div>		
	</div>  
</body>
<script type="text/javascript">
var baseUrl = "http://localhost:8080/SSMall";
var flag = 1;
var param = getUrlParam();
var username = param.username;
var vm = new Vue({
    el:'#working',
    data:{
    	question:{},
    	grades:[],
    	grade:"",
    	subjects:[],
    	subject:""
    },
    methods: {
    	submit :function(){
    		var title = $("#title").val();
    		var questions = pacageData();
    		var param = {};
    		param.title = title;
    		param.questions = questions;
    		param.teacherNum = username;
    		param.classNum = vm.grade;
    		param.subNum = vm.subject;
    		//console.log(vm.question);
    		var url = baseUrl+"/working/save";
    		$.ajax({
    		        type: "POST",
    		        url: url,
    		        data : param ,
    		        dataType:"json",
    		        success: function(resultData){
    					if(resultData.state==0){//保存成功
    						layer.msg('保存成功', {
  							  icon: 1,
  							});
    					 }else{
    						layer.msg('注册失败，请重新提交', {
    							  icon: 0,
    							});
    					 }           	 
    		        }
    		    });
    	},
    	addQuestion :function(){
    		var htmls = '<div class="form-group" id="que'+flag+'Group">'
    		+'<div class="col-md-1 col-md-offset-3 control-label">'
    		+'<input class="magic-checkbox" type="checkbox" name="layout" value ="que'+flag+'" id="que'+flag+'">'
    		+'<label for="que'+flag+'">题目： </label>'
    		+'</div>'
    		+'<div class="col-sm-4">'
    		+	'<textarea rows="3" class="form-control" name="question" id="question'+flag+'"></textarea>'
    		+'</div>'
    		+'</div>'
    		flag ++; 
    		$("#questionForm").append(htmls);
    	},
    	deselect :function(){
			$("input:checkbox:checked").map(function(index,dom){
				var groupId = $(dom).val()+"Group";
				console.log(groupId);
				$("#"+groupId+"").remove();
			});
    	},
    
    },
    mounted: function () {
    	//查询该教师代课的班级信息
    	initStuClass();
    	//查询该教师代课的课程信息
    	initSubject()
      }
});
function pacageData(){
	var data=""
	for(var i = 0;i < flag; i++){
		if(($("#que"+i+"Group").length)>0){
			data = data + $("#question"+i+"").val() + ":;"
		}
	}
	return data.substring(0,data.length-2);
	
}
/* 初始化班级信息 */
function initStuClass(){
	var url = baseUrl+"/class/queryClassByTeaId";
	 $.ajax({
        type: "POST",
        data:{
        	teacherNum : username
        },
        url: url,
        dataType:"json",
        success: function(resultData){
			if(resultData.state==0){//查询成功
				var options = [];
				var flag={
						text : "全部",
						value : ""
				}
				options.push(flag);
				//vm.grade = "";
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].className;
					option.value = data[i].classNum;
					options.push(option);
				}
				vm.grades = options;
			 }else{
				 //查询失败
				 layer.msg(resultData.message, {
		   				icon: 0,
		   			});
			 }           	 
        }
    });
}
/* 初始化科目信息 */
function initSubject(){
	var url = baseUrl+"/subject/querySubjectByTeaId";
	 $.ajax({
        type: "POST",
        url: url,
        data:{
        	teacherNum : username
        },
        dataType:"json",
        success: function(resultData){
			if(resultData.state==0){//查询成功
				var options = [];
				var flag={
						text : "全部",
						value : ""
				}
				options.push(flag);
				//vm.subject = "";
			 	var data = resultData.data;
				for (var i = 0; i < data.length; i++) {
					var option = {}
					option.text = data[i].subName;
					option.value = data[i].subNum;
					options.push(option);
				}
				
				vm.subjects = options;
			 }else{
				 //查询失败
				 layer.msg(resultData.message, {
		   				icon: 0,
		   			});
			 }           	 
        }
    });
}
//获取Url参数
function getUrlParam(){
    var url = location.search; //获取url中"?"符后的字串   
    var theRequest = new Object();   
    if (url.indexOf("?") != -1) {   
       var str = url.substr(1);   
       strs = str.split("&");   
       for(var i = 0; i < strs.length; i ++) {   
          theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);   
       }   
    }   
    return theRequest;   
}
/* function submit(){
	var url = baseUrl+"/working/save";
	$.ajax({
	        type: "POST",
	        url: url,
	        data : vm.user,
	        dataType:"json",
	        success: function(resultData){
				if(resultData.state==0){//保存成功
					window.location.href = baseUrl + "/views/login.html";
				 }else{
					layer.msg('注册失败，请重新提交', {
						  icon: 0,
						});
				 }           	 
	        }
	    });
}
function addQuestion(){640222199604230026
	var htmls = '<div class="form-group" id="que'+flag+'Group">'
		+'<div class="col-md-1 col-md-offset-3 control-label">'
		+'<input class="magic-checkbox" type="checkbox" name="layout" value ="que'+flag+'" id="que'+flag+'">'
		+'<label for="que'+flag+'">题目： </label>'
		+'</div>'
		+'<div class="col-sm-4">'
		+	'<textarea rows="3" class="form-control" name="question" ></textarea>'
		+'</div>'
		+'</div>'
		flag ++; 
		$("#questionForm").append(htmls);
		
}
function deselect(){
	$("input:checkbox:checked").map(function(index,dom){
		var groupId = $(dom).val()+"Group";
		console.log(groupId);
		$("#"+groupId+"").remove();
	});
} */

/* 

layer.confirm('解绑前，请先与营销人员沟通确认，您确定要解绑吗?', function() {
			$.ajax({
		        type: "POST",
		        url: url,
		        data: paramData,
		        dataType:"json",
		        success: function(resultData){
		        	if(resultData.state=="0"){
		        		$("#confirmedModal").modal("hide");
						$('#tb_role').bootstrapTable('refresh');
						layer.msg("解绑成功!", {
		        			icon : 1
		        		});
					}else{
						layer.msg("解绑失败!", {
		        			icon : 0
		        		});
						
					}
		        }
		    });
	});
*
*/
</script>
</html>