<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.working.dao.WorkDAO">
	<resultMap id="BaseResultMap" type="com.working.entity.Work">
		<id column="id" property="id"></id>
		<result column="title" property="title" />
		<result column="teacher_num" property="teacherNum" />
		<result column="teacher_name" property="teacherName" />
		<result column="publish_url" property="publishUrl" />
		<result column="state" property="state" />
		<result column="class_num" property="classNum" />
		<result column="class_name" property="className" />
		<result column="sub_num" property="subNum" />
		<result column="sub_name" property="subName" />
		<result column="stu_num" property="stuNum" />
		<result column="stu_name" property="stuName" />
		<result column="submit_url" property="submitUrl" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	
	<sql id="BaseColumnList">
		id as id,
		title as title,
		teacher_num as teacherNum,
		teacher_name as teacherName,
		publish_url as publishUrl,
		state as state,
		class_num as classNum,
		class_name as className,
		sub_num as subNum,
		sub_name as subName,
		stu_num as stuNum,
		stu_name as stuName,
		submit_url as submitUrl,
		update_time as updateTime
	</sql>

	<sql id="BaseCustomQueryCondition">
		<if test="id != null">
			and id=#{id}
		</if>	
		<if test="title != null">
			and title=#{title}
		</if>	
		<if test="teacherNum != null">
			and teacher_num=#{teacherNum}
		</if>	
		<if test="teacherName != null">
			and teacher_name=#{teacherName}
		</if>	
		<if test="publishUrl != null">
			and publish_url=#{publishUrl}
		</if>	
		<if test="state != null">
			and state=#{state}
		</if>	
		<if test="classNum != null">
			and class_num=#{classNum}
		</if>	
		<if test="className != null">
			and class_name=#{className}
		</if>	
		<if test="subNum != null">
			and sub_num=#{subNum}
		</if>	
		<if test="subName != null">
			and sub_name=#{subName}
		</if>	
		<if test="stuNum != null">
			and stu_num=#{stuNum}
		</if>	
		<if test="stuName != null">
			and stu_name=#{stuName}
		</if>	
		<if test="submitUrl != null">
			and submit_url=#{submitUrl}
		</if>	
		<if test="updateTime != null">
			and update_time=#{updateTime}
		</if>	
	</sql>

	<insert id="insert" parameterType="com.working.entity.Work" >
    	insert into work
    		(id, title, teacher_num, teacher_name, publish_url, state, class_num, class_name, sub_num, sub_name, stu_num, stu_name, submit_url, update_time) 
    	values
    		(#{id}, #{title}, #{teacherNum}, #{teacherName}, #{publishUrl}, #{state}, #{classNum}, #{className}, #{subNum}, #{subName}, #{stuNum}, #{stuName}, #{submitUrl}, #{updateTime})
  	</insert>

  	<insert id="insertList" parameterType="java.util.List" >
    	insert into work
    		(id, title, teacher_num, teacher_name, publish_url, state, class_num, class_name, sub_num, sub_name, stu_num, stu_name, submit_url, update_time) 
    	values
    	<foreach collection="list" index="index" item="item" separator=",">
    		(#{item.id}, #{item.title}, #{item.teacherNum}, #{item.teacherName}, #{item.publishUrl}, #{item.state}, #{item.classNum}, #{item.className}, #{item.subNum}, #{item.subName}, #{item.stuNum}, #{item.stuName}, #{item.submitUrl}, #{item.updateTime})
    	</foreach>
  	</insert>

  	<update id="delete" parameterType="java.lang.String">
		update work set is_delete=0 where id = #{id}
    </update>

  	<update id="update" parameterType="com.working.entity.Work">
		update work set
		title=#{title}, teacher_num=#{teacherNum}, teacher_name=#{teacherName}, publish_url=#{publishUrl}, state=#{state}, class_num=#{classNum}, class_name=#{className}, sub_num=#{subNum}, sub_name=#{subName}, stu_num=#{stuNum}, stu_name=#{stuName}, submit_url=#{submitUrl}, update_time=#{updateTime}
		where id = #{id} and is_delete=1
	</update>
	
	<update id="updateIfNotNull" parameterType="com.working.entity.Work">
		update work set
		<if test="title != null">
			title=#{title}, 
		</if>
		<if test="teacherNum != null">
			teacher_num=#{teacherNum}, 
		</if>
		<if test="teacherName != null">
			teacher_name=#{teacherName}, 
		</if>
		<if test="publishUrl != null">
			publish_url=#{publishUrl}, 
		</if>
		<if test="state != null">
			state=#{state}, 
		</if>
		<if test="classNum != null">
			class_num=#{classNum}, 
		</if>
		<if test="className != null">
			class_name=#{className}, 
		</if>
		<if test="subNum != null">
			sub_num=#{subNum}, 
		</if>
		<if test="subName != null">
			sub_name=#{subName}, 
		</if>
		<if test="stuNum != null">
			stu_num=#{stuNum}, 
		</if>
		<if test="stuName != null">
			stu_name=#{stuName}, 
		</if>
		<if test="submitUrl != null">
			submit_url=#{submitUrl}, 
		</if>
		<if test="updateTime != null">
			update_time=#{updateTime}
		</if>
		where id = #{id} and is_delete=1
	</update>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
	    select 
	    <include refid="BaseColumnList" />
	    from work
	    where 
			id = #{id}
  	</select>

  	<select id="selectList" resultMap="BaseResultMap" parameterType="com.working.entity.Work">
	    select 
	    <include refid="BaseColumnList" />
	    from work
	    where 1=1
	    <include refid="BaseCustomQueryCondition" />
  	</select>


	
</mapper>